<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>DanWeb</title>

    <link rel="stylesheet" href="http://dviar2718.github.io/DanWeb/stylesheets/styles.css">
    <link rel="stylesheet" href="http://dviar2718.github.io/DanWeb/stylesheets/pygment_trac.css">
    <script src="http://dviar2718.github.io/DanWeb/javascripts/scale.fix.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--
    <form class="enterpass">
      <input type="password">
      <button class ="mybutton">Submit</button>
      </form>
    -->
    <div class="wrapper">
      <header id="main grad">
        <h1 class="header">Interests</h1>
        <nav id="nav">



        <ul id="navigation">
          <li><a href="#" class="first">Books to Read</a></li>
          <li><a href="#">Projects &raquo;</a>
            <ul>
              <li><a href="#">Nexted List Item</a></li>
              <li><a href="#">Expanded List Item &raquo;</a>
                <ul>
                  <li><a href="#">Second Nexted List Item &raquo;</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#" class="last">Item 3</a></li>
          </ul>
        </nav>  
      </header>
      <section id="main">

